<section id="home" class="valign-wrapper">
    <div class="right-align valign container-wrapper">
        <small class="no-margin grey-text text-lighten-1">HORAS DE HOJE</small>
        <h1 class="no-margin teal-text">
            07:50
        </h1>
        <br />
        <small class="no-margin grey-text text-lighten-1">HORAS ACUMULADAS</small>
        <h5 class="no-margin blue-text">
            80:00
        </h5>
        <small class="no-margin grey-text text-lighten-1">SALDO MENSAL</small>
        <h5 class="no-margin red-text">
            -94:00
        </h5>

        <a href="#/login" class="green btn btn-block confirm-btn">Cheguei!</a>
    </div>
</section>
<section id="relatorio">
    <div class="container-wrapper">
        <nav class="calendar-navigation">
            <a class="waves-effect waves-light left"><</a>
            AGOSTO
            <a class="waves-effect waves-light right">></a>
        </nav>
        <div class="calendar-container">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Domingo, 14 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Sábado, 13 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Segunda, 15 <b class="right grey-text">08:05</b></div>
                    <div class="collapsible-body">
                        <p>08:00 ~ 12:00 <b class="right">4 Horas</b></p>
                        <p>13:00 ~ 17:00 <b class="right">4 Horas</b></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>