<section id="home" class="row no-margin valign-wrapper">
    <form name="frm_login" class="card col s10 offset-s1 m4 offset-m4 valign container-wrapper">
        <h2>Login</h2>

        <div class="row no-margin">
            <div class="col s12">
                <label for="user">Usuário</label>
                <input type="text" required data-ng-model="login.user" placeholder="Usuário" id="user">
            </div>
        </div>

        <div class="row no-margin">
            <div class="col s12">
                <label for="password">Senha</label>
                <input type="password" required data-ng-model="login.password" placeholder="Senha" id="password">
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <button data-ng-click="logar(frm_login)" data-ng-disabled="frm_login.$invalid" class="right btn teal">Entrar</button>
            </div>
        </div>

    </form>
</section>